body{
    background-color: black !important;
}
.navbar{
    background-color:rgb(27, 26, 26)!important;
    border:1px solid rgb(41, 31, 30) ;
}
.navbar-brand{
    color: lightyellow !important;
    
}
#jumbotron{
    background-image:url(https://wallpaperaccess.com/full/1554171.jpg);
    border-bottom: 1px  solid rgb(41, 31, 30);
}

.header{
    color: lightyellow;
    font-family: monospace;
    font-size: 50px;
}

.times{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#aboutMeCont{
    background-image:url(https://wallpaperaccess.com/full/1554171.jpg);
    border: 1px solid rgb(41, 31, 30);
    margin-bottom: 24px;
    border-radius: 20px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border: 5px solid rgb(41, 31, 30);
    border-radius: 20px;
}

#bio{
    margin: 20px 0;
    font-family: monospace;
    font-size: x-large;
    text-indent: 40px;
    color: lightyellow;
    line-height: 1.6;
}

#contactMeCont{
    background-image:url(https://wallpaperaccess.com/full/1554171.jpg);
    padding: 40px 10px;
    margin-top: 20px;
}

#sendMsg{
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    color: lightyellow ;
    font-family: 'Times New Roman', Times, serif;
    
}
.gallery{
    text-align: center;
    color: lemonchiffon;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
#galleryCont{
    background-image:url(https://wallpaperaccess.com/full/1554171.jpg);
}

.projectTitle{
    
    font-size: 20px;
    color: lightyellow ;
    font-family: 'Times New Roman', Times, serif;
}
