body{
    background-image:url(https://wallpaperaccess.com/full/173798.jpg);
}
.navbar{
    background-color:rgb(27, 26, 26)!important;
}
.navbar-brand{
    color: lightyellow !important;
    
}
#jumbotron{
    background-image:url(https://wallpaperaccess.com/full/1554171.jpg);
    border-bottom: 1px  solid rgb(41, 31, 30);
    border-top: 1px  solid rgb(41, 31, 30);
}

.header{
    color: lightyellow;
    font-family: monospace;
    font-size: 50px;
}

.times{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#aboutMeCont{
    background-image:url(https://wallpaperaccess.com/full/1554171.jpg);
    border: 1px solid rgb(41, 31, 30);
    margin-bottom: 24px;
    border-radius: 20px;
}
.img-fluid{
    width: 80%;
    margin: 20px 0;
    border: 5px solid rgb(41, 31, 30);
    border-radius: 20px;
}

#bio{
    margin: 20px 0;
    font-family: monospace;
    font-size: x-large;
    text-indent: 40px;
    color: lightyellow;
}

